In [1]:
import requests
import pandas as pd

In [2]:
url = "https://fantasy.premierleague.com/api/bootstrap-static/" 

response = requests.get(url)
if response.status_code == 200:
    data = response.json() 
    print("Data successfully retrieved!")
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")

Data successfully retrieved!

In [3]:
players_df = pd.DataFrame(data["elements"])
players_df.head()

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,True,False,0.0,0.0,438098,0,0,-1,1,0,...,136,82,738,315,760,328,691,289,0.00,0.00
1,True,True,0.0,0.0,205651,0,0,-4,4,2,...,40,19,765,76,199,24,187,31,0.90,0.30
2,True,True,100.0,100.0,226597,-1,1,3,-3,2,...,53,3,136,36,40,4,8,3,1.04,0.33
3,True,True,100.0,100.0,219847,0,0,-2,2,1,...,13,4,27,5,27,9,46,10,1.03,0.34
4,True,False,0.0,0.0,463748,0,0,0,0,0,...,656,55,466,57,579,64,610,69,0.00,0.00

In [4]:
teams_df = pd.DataFrame(data["teams"])

In [5]:
teams_df

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,2,ARS,...,None,False,0,1235,1335,1220,1370,1250,1300,1
1,7,0,None,2,0,Aston Villa,0,0,8,AVL,...,None,False,0,1110,1215,1080,1160,1140,1270,2
2,91,0,None,3,0,Bournemouth,0,0,7,BOU,...,None,False,0,1195,1215,1130,1170,1260,1260,127
3,94,0,None,4,0,Brentford,0,0,11,BRE,...,None,False,0,1100,1195,1080,1080,1120,1310,130
4,36,0,None,5,0,Brighton,0,0,10,BHA,...,None,False,0,1140,1150,1120,1140,1160,1160,131
5,8,0,None,6,0,Chelsea,0,0,6,CHE,...,None,False,0,1230,1235,1150,1150,1310,1320,4
6,31,0,None,7,0,Crystal Palace,0,0,12,CRY,...,None,False,0,1130,1130,1140,1140,1120,1120,6
7,11,0,None,8,0,Everton,0,0,16,EVE,...,None,False,0,1095,1125,1130,1140,1070,1100,7
8,54,0,None,9,0,Fulham,0,0,9,FUL,...,None,False,0,1150,1150,1150,1150,1150,1150,34
9,40,0,None,10,0,Ipswich,0,0,19,IPS,...,None,False,0,1075,1075,1070,1070,1080,1080,8
10,13,0,None,11,0,Leicester,0,0,18,LEI,...,None,False,0,1075,1085,1060,1080,1090,1090,26
11,14,0,None,12,0,Liverpool,0,0,1,LIV,...,None,False,0,1355,1360,1340,1350,1370,1370,10
12,43,0,None,13,0,Man City,0,0,4,MCI,...,None,False,0,1230,1250,1140,1150,1320,1350,11
13,1,0,None,14,0,Man Utd,0,0,14,MUN,...,None,False,0,1115,1140,1120,1120,1110,1160,12
14,4,0,None,15,0,Newcastle,0,0,5,NEW,...,None,False,0,1195,1225,1140,1150,1250,1300,23
15,17,0,None,16,0,Nott'm Forest,0,0,3,NFO,...,None,False,0,1195,1220,1200,1250,1190,1190,15
16,20,0,None,17,0,Southampton,0,0,20,SOU,...,None,False,0,1055,1065,1050,1050,1060,1080,20
17,6,0,None,18,0,Spurs,0,0,15,TOT,...,None,False,0,1150,1185,1090,1090,1210,1280,21
18,21,0,None,19,0,West Ham,0,0,13,WHU,...,None,False,0,1095,1100,1080,1080,1110,1120,25
19,39,0,None,20,0,Wolves,0,0,17,WOL,...,None,False,0,1095,1095,1070,1070,1120,1120,38

In [19]:
url2 = "https://fantasy.premierleague.com/api/fixtures/"
response2 = requests.get(url2)
fixtures_data = response2.json()
fixtures_df = pd.DataFrame(fixtures_data)
fixtures_df.head()

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2444758,NaN,False,False,289,None,0,True,None,7,NaN,15,NaN,[],3,4,116115
1,2444470,1.0,True,True,1,2024-08-16T19:00:00Z,90,False,True,9,0.0,14,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,3,115827
2,2444473,1.0,True,True,4,2024-08-17T11:30:00Z,90,False,True,12,2.0,10,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,115830
3,2444471,1.0,True,True,2,2024-08-17T14:00:00Z,90,False,True,20,0.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,115828
4,2444472,1.0,True,True,3,2024-08-17T14:00:00Z,90,False,True,5,3.0,8,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,115829

In [20]:
fixtures_df.to_csv("fixtures24-25.csv", index=False)  # Saves without index

In [21]:
teams_df.to_csv("teams24-25.csv", index = False)

In [32]:
columns_needed = [
    "first_name", "second_name", "goals_scored", "assists", "total_points", 
    "minutes", "goals_conceded", "creativity", "influence", "threat", 
    "bonus", "bps", "ict_index", "clean_sheets", "red_cards", 
    "yellow_cards", "selected_by_percent", "now_cost", "element_type", "team"
]
filtered_players_df = players_df[columns_needed]
print(filtered_players_df.tail(20))

         first_name                second_name  goals_scored  assists  \
752           Mario                     Lemina             1        3
753          Yerson                   Mosquera             0        0
754          NÃ©lson              Cabral Semedo             0        3
755           Pedro            Cardoso de Lima             0        0
756          Daniel            Castelo Podence             0        0
757         Rodrigo              Martins Gomes             1        0
758        Santiago                      Bueno             0        0
759           Pablo                    Sarabia             1        1
760          JÃ¸rgen              Strand Larsen             7        2
761    Toti AntÃ³nio                      Gomes             0        1
762         Bastien                   Meupiyou             0        0
763           AndrÃ©     Trindade da Costa Neto             0        0
764  Carlos Roberto               Forbs Borges             0        0
765           Alfie                       Pond             0        0
766             Tom                     Edozie             0        0
767             Wes                    Okoduwa             0        0
768        Emmanuel                    Agbadou             0        0
769    VÃ­tor Manuel  de Oliveira Lopes Pereira             0        0
770          Nasser                      Djiga             0        0
771        Marshall                    Munetsi             0        0

     total_points  minutes  goals_conceded creativity influence threat  bonus  \
752            47     1363              39      166.7     356.8  120.0      5
753             3      441              12       27.3     110.2   21.0      0
754            44     1699              34      240.8     350.0   85.0      0
755             0       58               2       34.2      16.8    2.0      0
756             2       46               2        1.1       3.0    1.0      0
757            28      560              15      138.3     131.6   80.0      0
758            31     1332              30        9.3     253.2   80.0      0
759            21      423               8       96.4      99.6  122.0      0
760            84     1835              44      195.7     360.2  560.0      8
761            41     1353              28       57.6     298.4   25.0      5
762             0        0               0        0.0       0.0    0.0      0
763            33     1311              31      125.1     223.4   12.0      0
764             8      235               9       24.1      25.8   35.0      0
765             1        1               0        0.0       0.0    0.0      0
766             0        0               0        0.0       0.0    0.0      0
767             0        0               0        0.0       0.0    0.0      0
768             9      360               7        3.6      95.0    1.0      0
769            20        0               0        0.0       0.0    0.0      0
770             0        0               0        0.0       0.0    0.0      0
771             0        0               0        0.0       0.0    0.0      0

     bps ict_index  clean_sheets  red_cards  yellow_cards selected_by_percent  \
752  252      64.4             1          0             4                 0.2
753   24      16.0             0          0             2                 0.5
754  154      67.7             4          0             7                 0.2
755    1       5.3             0          0             0                 1.4
756    9       0.4             0          0             0                 0.0
757  125      34.6             1          0             0                 0.1
758  100      34.2             3          0             0                 0.1
759   82      31.9             1          0             2                 0.1
760  317     111.3             4          0             2                 1.3
761  177      38.1             4          0             4                 0.2
762    0       0.0             0          0             0                 0.2
763  243      35.9             3          0             3                 0.0
764   32       8.3             0          0             2                 0.0
765    3       0.0             0          0             0                 0.9
766    0       0.0             0          0             0                 0.0
767    0       0.0             0          0             0                 0.0
768   47      10.0             1          0             1                 0.1
769    0       0.0             0          0             0                 0.2
770    0       0.0             0          0             0                 0.0
771    0       0.0             0          0             0                 0.0

     now_cost  element_type  team
752        48             3    20
753        38             2    20
754        45             2    20
755        39             2    20
756        55             3    20
757        51             3    20
758        43             2    20
759        50             3    20
760        52             4    20
761        43             2    20
762        39             2    20
763        50             3    20
764        54             3    20
765        39             2    20
766        45             3    20
767        40             2    20
768        40             2    20
769         8             5    20
770        45             2    20
771        50             3    20

In [33]:
print(filtered_players_df["element_type"].dtype)

int64

In [34]:
element_type_mapping = {
    1: "GK",
    2: "DEF",
    3: "MID",
    4: "FWD", 
    5:"Manager"
}

filtered_players_df["element_type"] = filtered_players_df["element_type"].astype(int)
filtered_players_df.loc[:, "element_type"] = filtered_players_df["element_type"].map(element_type_mapping)

print(filtered_players_df.head())

  first_name           second_name  goals_scored  assists  total_points  \
0      FÃ¡bio       Ferreira Vieira             0        0             0
1    Gabriel     Fernando de Jesus             3        2            42
2    Gabriel  dos Santos MagalhÃ£es             3        2            94
3        Kai               Havertz             9        3            96
4       Karl                  Hein             0        0             0

   minutes  goals_conceded creativity influence threat  bonus  bps ict_index  \
0        0               0        0.0       0.0    0.0      0    0       0.0
1      600               5      119.5     154.4  255.0      6  152      52.6
2     1898              20      170.8     496.4  272.0      8  353      94.0
3     1839              20      257.0     467.2  701.0     14  340     142.6
4        0               0        0.0       0.0    0.0      0    0       0.0

   clean_sheets  red_cards  yellow_cards selected_by_percent  now_cost  \
0             0          0             0                 0.0        54
1             2          0             4                 1.3        66
2             7          0             3                27.9        63
3             7          0             4                 7.9        78
4             0          0             0                 0.0        40

  element_type  team
0          MID     1
1          FWD     1
2          DEF     1
3          FWD     1
4           GK     1

/var/folders/p6/5b2n95_14d596k98nw0s60y80000gn/T/ipykernel_37342/2926152660.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_players_df["element_type"] = filtered_players_df["element_type"].astype(int)
/var/folders/p6/5b2n95_14d596k98nw0s60y80000gn/T/ipykernel_37342/2926152660.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_players_df.loc[:, "element_type"] = filtered_players_df["element_type"].map(element_type_mapping)

In [36]:
filtered_players_df_without = filtered_players_df.drop(['team'], axis = 1)
filtered_players_df_without.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   first_name           772 non-null    object
 1   second_name          772 non-null    object
 2   goals_scored         772 non-null    int64
 3   assists              772 non-null    int64
 4   total_points         772 non-null    int64
 5   minutes              772 non-null    int64
 6   goals_conceded       772 non-null    int64
 7   creativity           772 non-null    object
 8   influence            772 non-null    object
 9   threat               772 non-null    object
 10  bonus                772 non-null    int64
 11  bps                  772 non-null    int64
 12  ict_index            772 non-null    object
 13  clean_sheets         772 non-null    int64
 14  red_cards            772 non-null    int64
 15  yellow_cards         772 non-null    int64
 16  selected_by_percent  772 non-null    object
 17  now_cost             772 non-null    int64
 18  element_type         772 non-null    object
dtypes: int64(11), object(8)
memory usage: 114.7+ KB

In [37]:
filtered_players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   first_name           772 non-null    object
 1   second_name          772 non-null    object
 2   goals_scored         772 non-null    int64
 3   assists              772 non-null    int64
 4   total_points         772 non-null    int64
 5   minutes              772 non-null    int64
 6   goals_conceded       772 non-null    int64
 7   creativity           772 non-null    object
 8   influence            772 non-null    object
 9   threat               772 non-null    object
 10  bonus                772 non-null    int64
 11  bps                  772 non-null    int64
 12  ict_index            772 non-null    object
 13  clean_sheets         772 non-null    int64
 14  red_cards            772 non-null    int64
 15  yellow_cards         772 non-null    int64
 16  selected_by_percent  772 non-null    object
 17  now_cost             772 non-null    int64
 18  element_type         772 non-null    object
 19  team                 772 non-null    int64
dtypes: int64(12), object(8)
memory usage: 120.8+ KB

In [40]:
filtered_players_df['now_cost'] = filtered_players_df['now_cost'].astype(float)
filtered_players_df['now_cost'] = filtered_players_df['now_cost'] / 10
filtered_players_df.tail()

/var/folders/p6/5b2n95_14d596k98nw0s60y80000gn/T/ipykernel_37342/3051229536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_players_df['now_cost'] = filtered_players_df['now_cost'].astype(float)
/var/folders/p6/5b2n95_14d596k98nw0s60y80000gn/T/ipykernel_37342/3051229536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_players_df['now_cost'] = filtered_players_df['now_cost'] / 10

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type,team
767,Wes,Okoduwa,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.0,4.0,DEF,20
768,Emmanuel,Agbadou,0,0,9,360,7,3.6,95.0,1.0,0,47,10.0,1,0,1,0.1,4.0,DEF,20
769,VÃ­tor Manuel,de Oliveira Lopes Pereira,0,0,20,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.2,0.8,Manager,20
770,Nasser,Djiga,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.0,4.5,DEF,20
771,Marshall,Munetsi,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.0,5.0,MID,20

In [38]:
filtered_players_df_without.to_csv("cleaned_players24-25.csv", index = False)

In [41]:
filtered_players_df.to_csv("cleaned_players24-25(with teams).csv", index = False)